/* 상단 탭 전체 박스 */
.todoHeader {
  display: flex;
  align-items: center;
  width: 622px;
  height: 36px;
  padding: 4px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

/* 버튼 컨테이너 */
.todoNav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/* 개별 탭 버튼 (비활성 기본) */
.todoBtn {
  display: flex;
  width: 143px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 20px;
  background: transparent;

  color: #232323;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Paperlogy", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.todoBtn:hover {
  background-color: #e3f2fd;
}

/* 활성 탭 */
.active {
  background: #0d99ff;
  color: #ffffff;
  font-weight: 600;
}
