@font-face {
  font-family: "Pretendard";
  font-weight: 100 900;
  src: url("/fonts/Pretendard/PretendardVariable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 100 900;
  src: url("/fonts/Paperlogy/PaperlogyVariable.woff2") format("woff2");
  font-display: swap;
}
